/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */



body {
    color:white;
}
.recept-nazev {
    font-family: 'Raleway', sans-serif;   
}

.hlavni-recept {
    background-image: url(images/salat.jpg);
    min-height: 200px;
}
.recept2 {
    background-image: url(images/chlebicek.jpg);
}

.recept3 {
    background-image: url(images/tacos.jpg);
}

.recept4 {
    background-image: url(images/cizrna.jpg);
}

.recept5 {
    background-image: url(images/burger.jpg);
}

.hlavni-recept,
.recept2,
.recept3,
.recept4,
.recept5 {
    background-position: center;
    background-size: cover;
    padding: 10px;
}

.recept2,
.recept3,
.recept4,
.recept5 {
    min-height: 90px;
}

h1,
h2 {
    margin: 0;
}

.recept-meta {
    display: flex;
    justify-content: space-between;
}

.hlavni-recept,
.recept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 480px) {
    .hlavni-recept {
        min-height: 250px;
        padding: 20px;
    }
    
    .recept2,
    .recept3,
    .recept4,
    .recept5 {
        min-height: 150px;
        width: 50%;
        padding: 20px;
    }
    .recepty {
        display: flex;
        flex-wrap: wrap;
    
    }
}

@media (min-width: 860px) {
    .doporucujeme {
        display: flex;
    }
    .hlavni-recept {
        min-height: 400px;
        width: calc(100% / 3);
    
    }
    
    .recept2,
    .recept3,
    .recept4,
    .recept5 {
        min-height: 200px;
    }
}
